<h2>Lista</h2>

<div class="row">
  {{#each (sort-by "grupo.nombre:asc" "publicacion:asc" model) as |disco|}}
  <div class="col-md-4">
    <div class="panel panel-default grupo-item">
        <div class="panel-heading">
        <h3 class="panel-title"><b>{{disco.grupo.nombre}}</b> - {{disco.titulo}}</h3>
        </div>
        <div class="panel-body">
            <p class="text-center"><img class="rounded mx-auto d-block float-center" src={{disco.portada}} alt={{disco.titulo}} width="200" height="200"></p>
        <br>
        <p class="text-center"><b>Formato:</b> {{disco.formato.tipo}}&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Año:</b> {{disco.publicacion}}</p>        
        </div>
        <div class="panel-footer text-right">
            {{#link-to 'discos.edit' disco.id class='btn btn-success btn-xs'}}Editar{{/link-to}}
            <button class="btn btn-danger btn-xs" {{action 'deleteDisco' disco}}>Borrar</button>
        </div>
    </div>
  </div>
{{/each}}
</div>
