<h2>Añadir un nuevo Artículo</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Título</label>
                <div class="col-sm-8">
                    {{input type="text" value=model.titulo class="form-control" placeholder="Título del disco, vinilo, dvd, ..."}}
                </div>
            </div>

            <div class="form-group">
                <label for="grupo_id">Grupo</label>
                <select class="form-control" id="grupo_id" required name="grupos">
                    <option disabled selected> -- Seleccione un Grupo -- </option>
                    {{#each model.grupos as |grupo|}}                    
                    <option id="select" value={{grupo.id}}>{{grupo.nombre}}</option>
                    {{/each}}
                </select>

            </div>
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Portada*</label>
                <div class="col-sm-8">
                    {{input type="text" value=model.portada class="form-control" placeholder="Url de la portada"}}
                    {{#if model.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Año</label>
                <div class="col-sm-8">
                    {{input type="text" value=model.publicacion class="form-control" placeholder="Fecha de edición"}}
                </div>
            </div>

            <div class="form-group">
                <label for="formato_id">Formato</label>
                <select class="form-control" id="formato_id" required name="formatos">
                    <option disabled selected> -- Seleccione un tipo de Formato -- </option>
                    {{#each model.formatos as |formato|}}                    
                    <option value={{formato.id}}>{{formato.tipo}}</option>
                    {{/each}}
                </select>

            </div>
        

            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                
             <button type="submit" class="btn btn-default" {{action 'saveDisco' model}} disabled={{unless model.isValid true}}>Nuevo Disco</button>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-6">
        <img src={{this.model.portada}} alt={{this.model.titulo}} width="300" height="300">
    </div>
</div>