<h2>Lista  <i class="fas fa-compact-disc"></i></h2>


<div class="row">
  <table class="table table-bordered table-striped" id="bandas">
    <thead>
  <tr>
    <th>
      Grupo
      <br><small class="small not-bold">(Click en el nombre para editar)</small>
    </th>
    <th class="vtop">Discos</th>
    <th class="vtop">Año</th>
  </tr>
  </thead>
  <tbody>
     {{#each (sort-by "nombre:asc" model) as |grupo|}}
    <tr>
      <td>
        {{#if grupo.isEditing}}
          <form {{action 'saveGrupo' grupo on='submit'}} class="form-inline">
            <div class="input-group">
              {{input value=grupo.nombre class="form-control"}}
              <div class="input-group-btn">
                <button type="submit" class="btn btn-success" disabled={{grupo.isNotValid}}>Guardar</button>
                <button class="btn btn-danger" {{action 'cancelGrupoEdit' grupo}}>Cancelar</button>
              </div>
            </div>
          </form>
        {{else}}
          <b><span {{action 'editGrupo' grupo}}>{{grupo.nombre}}</span></b>
        {{/if}}
      </td>
      <td>
        <ul>
          {{#each (sort-by "publicacion:asc" grupo.discos) as |disco|}}
            <li>{{disco.titulo}} - <em>{{disco.formato.tipo}}</em></li>
          {{/each}}
        </ul>
      </td>
      <td>
        <ul>
          {{#each (sort-by "publicacion:asc" grupo.discos) as |disco|}}
            <li>{{disco.publicacion}}</li>
          {{/each}}  
        </ul>
      </td>
    </tr>
  {{/each}}
  </tbody>
  </table>

</div>